.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 196px;
}

.headline {
  margin-bottom: 20px !important;
}

.sub {
  max-width: 597px;
  margin-bottom: 53px !important;
}

.cards {
  display: flex;
  gap: 33px;
  align-items: center;
}