.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;

  &__headline {
    margin-bottom: 18px;
  }

  &__sub {
    max-width: 597px;
    margin-bottom: 53px;
  }

  &__cards {
    display: flex;
    gap: 33px;
    align-items: center;
  }
}