.header {
  display: flex;
  width: 1097px;
  min-height: 119px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 39px 21px 30px;
  box-sizing: border-box;
  margin-bottom: 92px;
  @media screen and (max-width: 1097px) {
    width: 100%;
  }
  @media screen and (max-width: 788px) {
    padding-right: 16px;
    padding-top: 15px;
    margin-bottom: 55px;
  }
}

.logo {
  margin: 10px -47px 10px 10px;
  width: 186px;
  height: 58px;
  object-fit: cover;
}

.navbar {
  margin: 0;
  margin-bottom: 3px;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 32px;

  @media screen and (max-width: 788px) {
    position: fixed;
    top: 0;
    left: -220px;
    padding: 50px 0 0 50px !important;
    display: flex;
    flex-direction: column;
    width: 220px;
    box-sizing: border-box;
    height: 100%;
    transition: transform 0.3s linear;
    background-color: black;
  }

  &_active {
    transform: translateX(100%);
  }
}

.link {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.buttons{
  display: flex;
}

.menuButton {
  margin: 0 0 0 18px;
  padding: 0;
  background-color: transparent;
  border: none;
  display: none;

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  @media screen and (max-width: 788px) {
    display: block;
  }
}
