.features {
  margin-bottom: 224px;
  display: grid;
  grid-template-columns: 752px 336px;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "headline headline"
    "sub sub"
    "pic container";
}

.headline {
  margin-bottom: 24px;
  max-width: 251px;
  grid-area: headline;
}

.sub {
  margin-bottom: 81px;
  max-width: 589px;
  grid-area: sub;
}

.pic {
  grid-area: pic;
  width: 783px;
  object-fit: contain;
}

.list {
  margin-top: 84px;
  margin-left: 47px;
  grid-area: container;
  display: flex;
  flex-direction: column;
  gap: 65px;
}

.feature {
  max-width: 269px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "icon headline"
    "sub sub";

  &_up {
    margin-top: 4px;
  }

  &__headline {
    grid-area: headline;
    display: block;
    margin: 0;
    margin-left: 14px;
    padding: 0;
    max-width: 172px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    /* 150% */
    letter-spacing: 0.1px;

    &_intuitive {
      max-width: 170px;
      margin-top: 3px;
      margin-left: 12px;
    }

    &_rules {
      margin-left: 9px;
      margin-bottom: 3px;
    }
  }

  &__icon {
    grid-area: icon;
    margin-top: 8px;
    margin-left: 2px;
    display: inline-block;
    object-fit: cover;

    &_1 {
      width: 25.494px;
      height: 23.665px;
    }

    &_2 {
      width: 29px;
      height: 30px;
    }

    &_3 {
      width: 41px;
      height: 19px;
      margin-left: 0;
    }
  }

  &__sub {
    grid-area: sub;
    margin: 0;
    margin-top: 20px;
    margin-left: 9px;
    padding: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 252px;
  }
}