.section {
  padding-top: 200px;
  padding-bottom: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 50px;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 62px;
}

.sub {
  box-sizing: border-box;
  padding: 10px;
  max-width: 596px;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.testimonials {
  display: flex;
  gap: 23px;
  width: 883px;
  height: 652px;
}

.column{
  display: flex;
  flex-direction: column;
  gap: 20px;
}