@import url(./vender/normalize.css);
// @import url(./vender/fonts/graphik.scss);
@import url(https://cdn.rawgit.com/mfd/e7842774e037edf15919037594a79b2b/raw/665bdfc532094318449f1010323c84013d5af953/graphik.css);


body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Graphik', Arial, sans-serif;
  font-style: normal;
  text-rendering: optimizeLegibility;
  background-color: #181818;
  color: #FFFFFF;
  min-width: 320px;
  min-height: 100vh;
}
