@import url(./vender/normalize.css);
// @import url(./vender/fonts/graphik.scss);
@import url(https://cdn.rawgit.com/mfd/e7842774e037edf15919037594a79b2b/raw/665bdfc532094318449f1010323c84013d5af953/graphik.css);


body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Graphik', Arial, sans-serif;
  font-style: normal;
  text-rendering: optimizeLegibility;
  background-color: #181818;
  color: #FFFFFF;
  min-width: 320px;
  min-height: 100vh;
}

.link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #FFF;
}

.link:hover {
  opacity: 0.70;
  cursor: pointer;
}

.button {
  margin: 0;
  padding: 0;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid var(--light-text, #FFF);
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.2px;
  text-align: center;
}

.button:hover {
  opacity: 0.80;
  cursor: pointer;
}