.testimonial {
  border-radius: 10px;
  border: 1px solid #DEDEDE;
  padding: 40px;
  width: 430px;
  box-sizing: border-box;
  flex-shrink: 3;
}

.info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "icon name"
    "icon occupation";
  column-gap: 22px;
  margin-bottom: 30px;
}

.icon {
  grid-area: icon;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.name {
  padding: 0;
  margin: 0;
  grid-area: name;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.occupation {
  padding: 0;
  margin: 0;
  grid-area: occupation;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.1px;
}

.text {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 321px;
}